[submodule "SceneLauncher"]
	path = SceneLauncher
	url = https://github.com/siren403/SceneLauncher.git
[submodule "SceneNavigation"]
	path = SceneNavigation
	url = https://github.com/siren403/SceneNavigation.git
[submodule "VitalMediator"]
	path = VitalMediator
	url = https://github.com/siren403/VitalMediator.git
[submodule "ScreenNavigation"]
	path = ScreenNavigation
	url = git@github.com:siren403/ScreenNavigation.git
[submodule "GameKit"]
	path = GameKit
	url = https://github.com/siren403/GameKit.git
